Source: golang-github-containerd-console
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Arnaud Rebillout <arnaud.rebillout@collabora.com>,
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any,
               golang-golang-x-sys-dev,
Standards-Version: 4.6.0
Homepage: https://github.com/containerd/console
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-containerd-console
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-containerd-console.git
XS-Go-Import-Path: github.com/containerd/console
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-go

Package: golang-github-containerd-console-dev
Architecture: all
Multi-Arch: foreign
Depends: golang-golang-x-sys-dev,
         ${misc:Depends},
Description: Console package for Go
 Golang package for dealing with consoles.  Light on deps and a simple API.
